		<div class="main-container">
		  <section class="cover fullscreen image-slider slider-arrow-controls kenburns">
				<ul class="slides">
		            <li class="image-bg pt-xs-240 pb-xs-240">
		                <div class="background-image-holder">
												<%= image_tag("burns2.jpg", :class =>'background-image') %>
											</div>
		                <div class="align-bottom">
		                    <div class="row">
		                        <div class="col-sm-12">
		                            <hr class="mb24">
		                        </div>
		                    </div>
		                    <div class="row">
		                        <div class="col-md-3 col-sm-6 col-xs-12 text-center-xs mb-xs-24">
		                            <h4 class="uppercase mb0 bold">[:Ann Luo]<br></h4>
		                            <span>My Wonderland </span>
		                        </div>
		                        <div class="col-md-4 hidden-sm hidden-xs">
		                            <p>&nbsp;A self-taught rubist, wordpress developer, foodie and climber :)</p>
		                        </div>
		                        <div class="col-md-5 col-sm-6 col-xs-12 text-right text-center-xs">
		                            <a class="btn btn btn-white mt16" href="#">Contact Me</a>
															</div>
											     </div>
												 </div>
											  </li>
											</ul>
									</section></div>
